<div class="container">
    <div>
        <br>
        <h2>Live Stream</h2>
    </div>
</div>
<hr>
<!--Live Preview-->
<div class="row" *ngFor="let cameras of camerasObj; let i = index">
  <div class="col-md-4" *ngFor="let camera of cameras">
    <div >
      <div class="thumbnail">
          <img [src]="camera.URL" alt="Camera is not running" style="width:100%">
          <div class="caption">
            <h5>{{camera.Client}}: {{camera.Location}}</h5>
          </div>
      </div>
    </div>
  </div>
</div>
