<div class="container">
  <div>
      <br>
      <h2>Camera Management</h2>
  </div>
</div>
<hr>
<!--Pagination-->
<div class="row">
  <div class="col">
      <label class="control">Search Camera:
          <input type="text" class="input" placeholder="filter" [(ngModel)]="listFilter">
      </label>
  </div>
  <div class="col">
      <label class="control">Cameras Per Page:
          <input type="number" class="input" min="0" [(ngModel)]="config.itemsPerPage">
      </label>
  </div>
</div>

<!--Management-->
<form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Camera ID</th>
        <th scope="col">Camera Location</th>
        <th scope="col">Camera Client</th>
        <th scope="col">Detection Active Time</th>
        <th scope="col">Edit</th>
      </tr>
      </thead>
    <tbody>
    <tr *ngFor="let camera of filteredCameras | paginate: config; let i = index">
      <td>{{i+1}}</td>
      <td>{{camera._id}}</td>
      <td>{{camera.cameraLocation}}</td>
      <td>{{camera.cameraClient.clientName}}</td>
      <td>{{camera.startTime['hour']}}:{{camera.startTime['minute']}} - {{camera.endTime['hour']}}:{{camera.endTime['minute']}}</td>
      <!--Modal-->
      <td>
      <button type="button" class="btn btn-primary" (click)="onSelectUpdate(camera)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
  <!--Pagination Control-->
  <div class="has-text-centered">
    <pagination-controls [id]="config.id"
                        [maxSize]="maxSize"
                        [directionLinks]="directionLinks"
                        [autoHide]="autoHide"
                        [responsive]="responsive"
                        [previousLabel]="labels.previousLabel"
                        [nextLabel]="labels.nextLabel"
                        [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                        [screenReaderPageLabel]="labels.screenReaderPageLabel"
                        [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                        (pageChange)="onPageChange($event)"
                        (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
  </div>
</form>
<hr>
<form>
  <div *ngIf="camerasDB.length > 0">
    <div class="form-group">
      <label for="Location">Camera Location</label>
      <input type="text" class="form-control" id="Location" [(ngModel)]="cameraLocation" name="cameraLocation">
    </div>
    <div class="form-group">
        <label for="startTime">Start Time</label>
        <ngb-timepicker [(ngModel)]="startTime" name="startTime"></ngb-timepicker>
    </div>
    <div class="form-group">
        <label for="endTime">End Time</label>
        <ngb-timepicker [(ngModel)]="endTime" name="endTime"></ngb-timepicker>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onUpdateCamera()">Update Camera</button>
  </div>
</form>

