<div class="container">
    <div>
        <br>
        <h2>Video Recording</h2>
    </div>
</div>
<hr>
<!--Pagination-->
<div class="row">
  <div class="col">
      <label class="control">Search Clips:
          <input type="text" class="input" placeholder="filter" [(ngModel)]="listFilter">
      </label>
  </div>
  <div class="col">
      <label class="control">Clips Per Page:
          <input type="number" class="input" min="0" [(ngModel)]="config.itemsPerPage">
      </label>
  </div>
</div>

<!--Recordings-->
<form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Camera ID</th>
          <th scope="col">Camera Location</th>
          <th scope="col">Camera Client</th>
          <th scope="col">Recording Date</th>
          <th scope="col">Clip</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clip of filteredClips | paginate: config; let i = index">
          <td>{{i+1}}</td>
          <td>{{clip.camera._id}}</td>
          <td>{{clip.camera.cameraLocation}}</td>
          <td>{{clip.camera.cameraClient.clientName}}</td>
          <td>{{clip.recordingDate}}</td>
          <!--Modal-->
          <td><ngx-smart-modal identifier={{clip.cameraID+clip.recordingDate}}>
              <h1>RecordingDate: {{clip.recordingDate}}</h1>
              <!-- <mat-video src="{{clip.clipLink}}"></mat-video><P>{{clip.clipLink}}</P> -->
              <mat-video>
                <source matVideoSource src="../../../../clients/5ed9e4857c2b91ab7c992de82053.avi" type="video/avi">
              </mat-video>
              <P>{{clip.clipLink}}</P>
              <!-- <button (click)="myModal.close()">Close</button> -->
            </ngx-smart-modal>
          <button type="button" class="btn btn-primary" (click)="ngxSmartModalService.getModal(clip.cameraID+clip.recordingDate).open()">Watch</button></td>
          <td>
            <button class="btn btn-danger"
            mwlConfirmationPopover
            [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage"
            placement="top"
            (confirm)="onDeleteClip(clip._id)"
            (cancel)="cancelClicked=true">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</form>
<!--Pagination Control-->
<div class="has-text-centered">
  <pagination-controls [id]="config.id"
                       [maxSize]="maxSize"
                       [directionLinks]="directionLinks"
                       [autoHide]="autoHide"
                       [responsive]="responsive"
                       [previousLabel]="labels.previousLabel"
                       [nextLabel]="labels.nextLabel"
                       [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                       [screenReaderPageLabel]="labels.screenReaderPageLabel"
                       [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                       (pageChange)="onPageChange($event)"
                       (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
</div>

 
